body {
  padding-top: 40px;
  font-family: 'Courier New', monospace;
  text-align: center;
}

#target {
  font-size: 48px;
  letter-spacing: 3px;
}

.info {
  color: blue;
}

#chart_div {
  margin-left: 510px;
  margin-right: 510px;
}